<div ng-controller="configurationCtrl">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline">
        <div class="form-group">
          <label class="control-label">NCM: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.ncm" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <button type="button" class="btn btn-success" ng-click="save(data)">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>