<div ng-controller="configurationCtrl">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline">
        <div class="form-group">
          <label class="control-label">Start: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.start" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">Número: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.number" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">Descrição: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.description" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">Valor total: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.amount" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">NCM: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.ncm" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">Cofins: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.cofins" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">Pis: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.pis" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">CEST: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.cest" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <label class="control-label">ICMS: &nbsp;</label>
          <input type="number" class="form-control" ng-model="data.icms" />
        </div>
        <br/ class="hidden-xs">
        <br/ class="hidden-xs">
        <div class="form-group">
          <button type="button" class="btn btn-success" ng-click="save(data)">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>